snippet start
	---
	title: "${1:day05}"
	date: `strftime("%Y-%m-%dT%H:%M:%S") . "+08:00"`
	draft: ${2:false}
	categories: ["${3:编程语言}"]
	tags: ["${4:c/c++}", "${5:技术学习}"]
	---

snippet stab
	| <++> | <++> | 
	| <++> | <++> | 

snippet ttab
	| <++> | <++> | <++> |
	| <++> | <++> | <++> |

snippet quo
	> ${1}

